<div class="">
    <header>
        <div class="violet-bg">

        </div>
        <nav class="navbar d-flex justify-content-between">
            <h5 class="text-center text-dark nav-text ">
                <span class="navigation">Navigation </span><span>Link One</span>
            </h5>
            <h5 class="text-center text-dark nav-text ">
                <span class="navigation">Navigation </span><span>Link Two</span>
            </h5>
            <h5 class="text-center text-dark nav-text">
                <span class="navigation">Navigation </span><span>Link Three</span>
            </h5>
        </nav>
    </header>

    <section>
        <div class="bg-img">
            <div>
                <h4 class="text-white white-heading">
                    Do the right thing
                </h4>
            </div>
        </div>
    </section>

    <main class="bg-lightgrey p-4">
        <div class="main-content"> 
            <h4 class="credit pb-3">
                Credit Opportunities With Good Approval Odds †
            </h4>
            <div class="card shadow  ">
                <div class="row marginX5  mb-4">
                    <div class="col-md-8 ">
                       <span class="barclaycard"> Barclaycard CashForward™ World MasterCard™</span>
                    </div>
                    <div class="col-md-4  text-right reviews">
                        <span class="">
                            <i class="fas fa-star text-lightblue"></i>
                            <i class="fas fa-star text-lightblue"></i>
                            <i class="fas fa-star text-lightblue"></i>
                            <i class="fas fa-star text-lightblue"></i>
                            <i class="fas fa-star text-lightblue"></i>
                        </span>
                        <span class="font-weight-bold">
                            3,252 Reviews
                        </span>
                    </div>
                </div>

                <div class="row marginX5">
                     <div class="col-md-4 col-sm-12">
                        <div class="d-flex mb-3">
                            <div class="" >
                                <img class="atm " src="../assets/image/wallethubcard.jpg" >

                            </div>
                            <div class="ml-4 mt-3 text-center">
                                <p class="font-weight-bold">Approval <br> Odds †</p>
                                <button class="btn btn-lightblue">
                                    Very Good
                                </button>
                            </div>
                        </div>
                     </div>

                     <div class="col-md-8 ">
                        <p class="points">• Get a $100 cash rewards bonus after you spend $500 in purchases 
                            in the first 90 days after account oppening.</p>
                        <p class="points">• Earn unlimited 1.5% cash rewards on every purcahse.</p>
                        <p class="points">• Earn unlimited 1.5% cash rewards on every... <span class="text-lightblue">show more</span></p>
                     </div>

                     <div class="col-md-4 col-sm-12">
                        <button class="applybtn btn">
                            Apply Now
                        </button> 
                     </div>
                </div>

                <hr class="line mt-5 mb-3">

                <p class="marginX5">
                    <a class="text-lightblue pointer">See Details Rates & Fees</a>
                </p>
            </div>

        </div>

    </main>
</div>